<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeditationTamoul.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EEF530C1C4F8A8500B26C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEF53201C4F8A8600B26C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEF532B1C4F8A8600B26C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
